# Build directories
cmake-build-debug/
cmake-build-release/
build/
out/
dist/

# CLion
.idea/
*.iws

# Visual Studio
.vs/
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# Generated binaries
*.exe
*.dll
*.pdb
*.ilk
*.lib
*.obj

# Shader outputs
shaders/*.spv

# Logs
*.log

# OS crap
Thumbs.db
.DS_Store
